@using TagzApp.Providers.AzureQueue
@using TagzApp.Providers.Blazot
@using TagzApp.Providers.Bluesky
@using TagzApp.Providers.TwitchChat
@using TagzApp.Providers.Mastodon
@using TagzApp.Blazor.Client.Components.Admin
@using TagzApp.Providers.Twitter

@typeparam TProvider

@switch (Provider.GetType().Name)
{
	case nameof(AzureQueueProvider):
		{
			<AzureQueue_Config_Ui Provider="@Provider" />
			break;
		}
	case nameof(BlazotProvider):
	{
			<Blazot_Config_Ui Provider="@Provider" />
			break;
		}
	case nameof(BlueskyProvider):
		{
			<Bluesky_Config_Ui Provider="@Provider" />
			break;
		}
	case nameof(MastodonProvider):
		{
			<Mastodon_Config_Ui Provider="@Provider" />
			break;
		}
	case nameof(TwitchChatProvider):
		{
			<TwitchChat_Config_Ui Provider="@Provider" />
			break;
		}
	case nameof(TwitterProvider):
		{
			<Twitter_Config_Ui Provider="@Provider" />
			break;
		}
	default:
		{
			<p>Unknown provider type: @Provider?.GetType().Name</p>
			break;
		}
}


@code {
	[Parameter, EditorRequired]
	public TProvider Provider { get; set; }

}
